<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12 col-sm-8 pt-3">
      <div class="card">
        <img src="../../../../assets/img/termosolares/IndustrialTermosolares.jpeg"
          alt="ResidencialTermosolares" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Aplicación industrial</h5>
          <p class="card-text">Contamos con planes de financiamiento, solicita
            una cotización.</p>
          <a routerLink="contacto" class="btn btn-primary">Solicitar cotización</a>
        </div>
      </div>
    </div>
  </div>
</div>
