<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="scroll(top)" routerLink="/">
      <img src="../../../assets/img/logo-jdk.PNG" alt="" width="120" height="70"
        class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active btn" (click)="scroll(paneles)">
            Paneles solares
            <fa-icon [icon]="solarIcon"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn" (click)="scroll(termosolares)">
            Termosolares
            <fa-icon [icon]="termosolarIcon"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn" (click)="scroll(automatizacion)">
            Automatización
            <fa-icon [icon]="automationIcon"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="contacto">
            Contacto
            <fa-icon [icon]="contactIcon"></fa-icon>
          </a>
        </li>
        <ng-template *ngIf="[sessionStorage.getItem('user')];">
          <li class="nav-item">
            <a class="nav-link active" routerLink="administracion">
              Administrar página
              <fa-icon [icon]="adminIcon"></fa-icon>
            </a>
          </li>
        </ng-template>
      </ul>
      <ng-template *ngIf="[sessionStorage.getItem('user')];">
        <div class="col-md-2">
          <button class="btn btn-danger form-control">Cerrar sesión</button>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
<div class="container-slider" #top>
  <app-inicio></app-inicio>
</div>
<section class="d-flex justify-content-center" #paneles>
  <div class="contain reveal">
    <app-residencial></app-residencial>
  </div>
</section>
<section class="d-flex justify-content-center">
  <div class="contain reveal">
    <app-comercial></app-comercial>
  </div>
</section>
<section class="d-flex justify-content-center">
  <div class="contain reveal">
    <app-industrial></app-industrial>
  </div>
</section>
<section class="d-flex justify-content-center" #termosolares>
  <div class="contain reveal">
    <app-residencial-ts></app-residencial-ts>
  </div>
</section>
<section class="d-flex justify-content-center">
  <div class="contain reveal">
    <app-comercial-ts></app-comercial-ts>
  </div>
</section>
<section class="d-flex justify-content-center">
  <div class="contain reveal">
    <app-industrial-ts></app-industrial-ts>
  </div>
</section>
<section class="d-flex justify-content-center" #automatizacion>
  <div class="contain reveal">
    <app-automatizacion></app-automatizacion>
  </div>
</section>

<app-social-media></app-social-media>
