<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="scroll(top)" routerLink="/">
      <img src="../../../assets/img/logo-jdk.PNG" alt="" width="120" height="70"
        class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active btn" (click)="scroll(paneles)">
            Paneles solares
            <fa-icon [icon]="solarIcon"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn" (click)="scroll(termosolares)">
            Termosolares
            <fa-icon [icon]="termosolarIcon"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn" (click)="scroll(automatizacion)">
            Automatización
            <fa-icon [icon]="automationIcon"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn" (click)="scroll(contacto)">
            Contacto
            <fa-icon [icon]="contactIcon"></fa-icon>
          </a>
        </li>
        <ng-template *ngIf="[sessionStorage.getItem('user')];">
          <li class="nav-item">
            <a class="nav-link active" routerLink="administracion">
              Administrar página
              <fa-icon [icon]="adminIcon"></fa-icon>
            </a>
          </li>
        </ng-template>
      </ul>
      <ng-template *ngIf="[sessionStorage.getItem('user')];">
        <div class="col-md-2">
          <button class="btn btn-danger form-control">Cerrar sesión</button>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
<div class="container-slider" #top>
  <app-inicio></app-inicio>
</div>
<section class="" #paneles>
  <div class="contain reveal">
    <app-residencial></app-residencial>
  </div>
</section>
<section class="">
  <div class="contain reveal">
    <app-comercial></app-comercial>
  </div>
</section>
<section class="">
  <div class="contain reveal">
    <app-industrial></app-industrial>
  </div>
</section>
<section class="" #termosolares>
  <div class="contain reveal">
    <app-residencial-ts></app-residencial-ts>
  </div>
</section>
<section class="">
  <div class="contain reveal">
    <app-comercial-ts></app-comercial-ts>
  </div>
</section>
<section class="">
  <div class="contain reveal">
    <app-industrial-ts></app-industrial-ts>
  </div>
</section>
<section class="" #automatizacion>
  <div class="contain reveal">
    <app-automatizacion></app-automatizacion>
  </div>
</section>
<app-social-media></app-social-media>
<recaptcha
  [size]="'invisible'"
  [hide]="false"
  (captchaResponse)="onCaptchaResponse($event)">
</recaptcha>
<section class="" #contacto>
  <div class="contain reveal">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 d-flex justify-content-center">
          <img class="imgHeader" src="../assets/img/contacto/contactoHeader.jpg"
            alt="PanelesHeader">
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-4 text-center">
          <hr>
          <h2>Contacto</h2>
          <hr>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-sm-8 pt-3 mb-5">
          <div class="card">
            <div class="card-header">
              <h4>Enviar Email <fa-icon [icon]="emailIcon"></fa-icon></h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="row">
                    <div class="col-md-12 form-floating mb-3">
                      <input type="text" class="form-control"
                        (keyup)="checkInput('nombre')"
                        id="nombreInput" [(ngModel)]="contact.nombre" [disabled] = "loadingForm"
                        placeholder="Escriba su nombre...">
                      <label for="nombreInput">Nombre</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-floating mb-3">
                      <input type="text" [(ngModel)]="contact.correo" [disabled] = "loadingForm"
                        class="form-control" (keyup)="checkInput('correo')"
                        id="correoInput" placeholder="Escriba su correo...">
                      <label for="correoInput">Correo</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-floating mb-3">
                      <input type="number" [(ngModel)]="contact.telefono" [disabled] = "loadingForm"
                        class="form-control" (keyup)="checkInput('telefono')"
                        id="telInput" placeholder="Escriba su telefono...">
                      <label for="telInput">Teléfono</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-floating mb-3">
                      <textarea class="form-control" [disabled] = "loadingForm"
                        (keyup)="checkInput('mensaje')"
                        placeholder="Escriba un mensaje aquí"
                        id="floatingTextarea" [(ngModel)]="contact.mensaje"></textarea>
                      <label for="mensajeText">Mensaje</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 informacion">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h5>JIDOKA AUTOMATIZACIÓN Y ENERGÍA S.A. DE C.V.</h5>
                      <p>BLVD. GONZÁLEZ DE LA VEGA #364 PARQUE INDUSTRIA CARLOS
                        A
                        HERRERA ARALUCE, GÓMEZ PALACIO, DURANGO C.P. 35079</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h5><fa-icon [icon]="emailIcon"></fa-icon>m.perez@jidoka.com.mx</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h5><fa-icon [icon]="phoneIcon"></fa-icon>(871)-175-01-07</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div [hidden]="!loadingForm" class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
              </div>
              <div class="row d-flex justify-content-center pt-3">
                <div class="col-md-4">
                  <button class="btn btn-primary form-control" [disabled] = "loadingForm"
                    (click)="sendMail()">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-----------------------------------------MODAL MULTIUSOS------------------------------------------>
<div class="modal fade" id="advertenciaModal" tabindex="-1"
  aria-labelledby="advertenciaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 id="headerModal" class="modal-title"></h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div id="alertModal" class="alert" role="alert">
                <fa-icon [icon]="modalIcon"></fa-icon><h6 id="modalText"></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
