<div class="container">
  <div class="icon facebook">
    <div class="tooltip">
      Facebook
    </div>
    <span><a target="_blank" href="https://www.facebook.com/ElectricDepotMx"><fa-icon [icon]="fbIcon"></fa-icon></a></span>
  </div>
  <div class="icon instagram">
    <div class="tooltip">
      Instagram
    </div>
    <span><a target="_blank" href="https://www.instagram.com/electricdepotmx/"><fa-icon [icon]="igIcon"></fa-icon></a></span>
  </div>
  <div class="icon whatsapp">
    <div class="tooltip">
      WhatsApp
    </div>
    <span><a target="_blank" href="https://wa.me/88855551114?text=Hola,%20quisiera%20recibir%20informacion"><fa-icon [icon]="waIcon"></fa-icon></a></span>
  </div>
  <div class="icon tiktok">
    <div class="tooltip">
      TikTok
    </div>
    <span><a target="_blank" href="https://www.tiktok.com/@electric_depot"><fa-icon [icon]="tiktokIcon"></fa-icon></a></span>
  </div>
  <div class="icon twitter">
    <div class="tooltip">
      Twitter
    </div>
    <span><a target="_blank" href="https://twitter.com/electric_depot"><fa-icon [icon]="twitIcon"></fa-icon></a></span>
  </div>
</div>
