img {
  /* width: 100%; */
  object-fit: cover;
  width: 70vw;
  height: 35vw;
}

h2 {
  font-family: Andale Mono, monospace;
}

.imgHeader {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: solid 6px #44b84c;
}
