<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
      <img class="imgHeader" src="../assets/img/paneles/panelesHeader.jpg"
        alt="PanelesHeader">
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 text-center">
      <hr>
      <h2>Paneles solares</h2>
      <hr>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-sm-8 pt-3">
      <div class="card">
        <img src="../../../../assets/img/paneles/residencialPanel.jpg"
          alt="residencialPanel" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Aplicación residencial</h5>
          <p class="card-text">Contamos con planes de financiamiento, solicita una cotización.</p>
          <a routerLink="contacto" class="btn btn-primary">Solicitar cotización</a>
        </div>
      </div>
    </div>
  </div>
</div>
